{# 
/**
 * @file
 * Showcase Lite's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Regions:
 * - page.slideout: Items for the Slideout region.
 * - page.footer:
   - page.navbar_left:
   - page.navbar_right:
   - page.content:
   - page.content_left:
   - page.content_right:
   - page.content_middle:
   - page.cell1:
   - page.cell2:
   - page.cell3:
   - page.cell4:
   - page.streamer:
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */ #}


<nav class="navContainer">
    {% if page.navbar_left %}
        <div class="navLeft">
            {{page.navbar_left}}
        </div>
    {% endif %}
    {% if page.navbar_right %}
        <div class="navRight">
            {{page.navbar_right}}
        </div>
    {% endif %}
</nav>

<section>
    {% if page.content_left %}
        <div class="content">
            {{page.content_left}}
        </div>
    {% endif %}
    {% if page.content_middle %}
        <div class="content">
            {{page.content_middle}}
        </div>
    {% endif %}
</section>

<section>
    <div class="row">
            <div class="cell">
                {{page.cell1}}
                <h1>ici</h1>
            </div>
            <div class="cell">
                {{page.cell2}}
                <h1>ici</h1>
            </div>
            <div class="cell">
                {{page.cell3}}
                <h1>ici</h1>
            </div>
            <div class="cell">
                {{page.cell4}}
                <h1>ici</h1>
            </div>
    </div>
    <div class="streamer">
        {{page.streamer}}
    </div>
</section>




<footer>
    {% if page.footer %}
        <div class="contentFooter">
            {{page.footer}}
        </div>
    {% endif %}
</footer>